@import "../../App.scss";
main.HostViewGroup {
    margin: 0px 120px;
    padding: 0px 5%;
    background-color: white;
    width: auto;
    h1 {
        color: $blue;
        font-size: 36px;
        padding: 36px 0px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
            height: 36px;
        }
    }
}
@media (max-width: 768px) {
    //staat bij studentviewGroup.scss
}
